@using Obs.Controllers

@{ Layout = "_AdminLayout";
                ViewData["Title"] = "Yeni Ders Ekle"; }

@model AddDersForm

@{ if (ViewBag.ErrorMessages != null)
                {
                    foreach (string ErrorMessage in ViewBag.ErrorMessages)
                    {
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div> }
                } }
<center>
    <div class="bg-white w-50 shadow p-3">
        <h3 class="text-center">Ders Ekle</h3>
        <form asp-controller="Admin" asp-action="AddDers">

            <div class="form-group">
                <label for="inputName" class="font-weight-bold">Ders Adı</label>
                <input type="text" class="form-control" asp-for=Name id="inputName" requried>
            </div>
            <div class="form-group">
                <label for="inputName" class="font-weight-bold">Bölüm Id</label>
                <input type="number" class="form-control" asp-for=BolumId id="inputName" requried>
            </div>
            <div class="form-group">
                <label for="inputName" class="font-weight-bold">Akademisyen Id</label>
                <input type="number" class="form-control" asp-for=AkademisyenId id="inputName" requried>
            </div>


            <button type="submit" class="btn btn-success w-10"><h3>Ekle</h3></button>
        </form>
    </div>
</center>
